<!DOCTYPE html>
<html>
	<head>
		<style type="text/css">
			*{
				box-sizing: border-box;
			}
			body {
				padding:0px;
				margin:0px;
			}
			table {
				border: solid 1px #000000;
				width: 1400px;
				border-spacing:0px;
			}
			td {
				width: 25%;
				height: 844px;
				border: solid 1px #000000;
				border-collapse: collapse;
			}
			
			
		</style>
	</head>
	<body>
		<table>
			<tr>
				<td>OUTBOUND</td>
				<td>OUTBOUND</td>
				<td>INBOUND</td>
				<td>INBOUND</td>
			</tr>
			<tr>
				<td>MAP</td>
				<td>MAP</td>
				<td>BACK</td>
				<td>FRONT</td>
			</tr>
		</table>
	</body>
</html>