<!DOCTYPE html>
<html>
	<head>
		<link href="/static/css/base.css" type="text/css" rel="stylesheet">
		<link href="/static/css/routes.css" type="text/css" rel="stylesheet">
	</head>
	<body>
		<div class="wrapper">
		
			<div id="outbound" class="route print-cell two">
			<div class="header route-1">
				<span class="name route-1">1</span>
				<span class="description">From <em>Central Station</em> to <em>Walmart</em></span>
				
			</div>
			<div class="stops">
				
			</div>
			<div class="day-divider route-1">
				<span>MONDAY - FRIDAY</span>
			</div>
			<div class="times">
				
			</div>
			<div class="day-divider route-1 ">
				<span>SATURDAY</span>
			</div>
			<div class="times">
				
			</div>
		</div><div id="inbound" class="route print-cell two">
			<div class="header route-1">
				<span class="name route-1">1</span>
				<span class="description">From <em>Walmart</em> to <em>Central Station</em></span>
				
			</div>
			<div class="stops">
				
			</div>
			<div class="day-divider route-1">
				<span>MONDAY - FRIDAY</span>
			</div>
			<div class="times">
				
			</div>
			<div class="day-divider route-1 ">
				<span>SATURDAY</span>
			</div>
			<div class="times">
				
			</div>
		</div><div class="map print-cell two">
			<div>
				<img src="/static/img/route1WithLabels.png" style="width: 100%; height: 100%;">
			</div>
		</div><div class="summary print-cell">
			<div>
			<div class="number route-1">1</div><div class="name route-1">South Bessemer</div><div class="description">
				<span><strong>Monday - Friday:</strong> Every 35 Minutes from 5:45 A.M to 9:46 P.M.</span>
				<span><strong>Saturday:</strong> Every 1 Hour 5 Minutes from 6:03 A.M to 9:35 P.M.</span>
			</div><div class="line-map">
				<div class="stop">
					<div class="sequence"><span class="route-1">A</span></div><span class="details"><span class="name">Central Station</span></span>
					
					<div class="line route-1" ></div>
				</div><div class="stop">
					<div class="sequence"><span class="route-1">B</span></div><span class="details">Baptist Medical Center Princeton</span>
					<div class="line route-1"></div>
				</div><div class="stop">
					<div class="sequence"><span class="route-1">C</span></div><span class="details">West End Academy</span>
					<div class="line route-1"></div>
				</div><div class="stop">
					<div class="sequence"><span class="route-1">D</span></div><span class="details">Jefferson & 40th St.</span>
					<div class="line route-1"></div>
				</div><div class="stop">
					<div class="sequence"><span class="route-1">E</span></div><span class="details">5th Ave. & 19th St. (Bess)</span>
					<div class="line route-1"></div>
				</div><div class="stop">
					<div class="sequence"><span class="route-1">F</span></div><span class="details">5th Ave. & 18th St. (Bess)</span>
					<div class="line route-1"></div>
				</div>
				<div class="stop">
					<div class="sequence"><span class="route-1">G</span></div><span class="details">West Lake Mall</span>
					<div class="line route-1"></div>
				</div><div class="stop">
					<div class="sequence"><span class="route-1">H</span></div><span class="details">Social Security Building</span>
					<div class="line route-1"></div>
				</div><div class="stop">
					<div class="sequence"><span class="route-1">I</span></div><span class="details">UAB Medical West</span>
					<div class="line route-1"></div>
				</div><div class="stop last">
					<div class="sequence"><span class="route-1">J</span></div><span class="details">Walmart</span>
					<div class="line route-1"></div>
				</div>
			</div>
				</div>
		</div>
			
			
		<script src="/static/js/jquery.min.js"></script>
		<script src="/static/js/underscore-min.js"></script>
		<script src="/static/js/app.js"></script>
		
		
	</body>
</html>