<!DOCTYPE html>
<html>
	<head>
		<link href="/static/css/base.css" type="text/css" rel="stylesheet">
		<link href="/static/css/routes.css" type="text/css" rel="stylesheet">
	</head>
	<body>
		<div class="wrapper">
		
		
		<header>
			<div class="number">14</div>
			<div class="description">
				<div class="name">Idlewild Palisades</div>
				<span><strong>Monday - Friday:</strong> Every 35 Minutes from 5:45 A.M to 9:46 P.M.</span>
				<span><strong>Saturday:</strong> Every 1 Hour 5 Minutes from 6:03 A.M to 9:35 P.M.</span>
			</div>
		</header>
		
		<div class="route">
			<div class="header">
				<span class="name">14</span>
				<span class="description">From <em>Central Station</em> to <em>Oxmoor Rd & Barber Ct</em></span>
				
			</div>
			<div class="stops">
				<div class="stop">
					<div class="sequence">
						<span>A</span>
					</div>
					<span class="name">Central Station</span>
				</div>
				<div class="stop">
					<div class="sequence">
						<span>B</span>
					</div>
					<span class="name">11th Ave S & 20th St S</span>
				</div>
				<div class="stop">
					<div class="sequence">
						<span>C</span>
					</div>
					<span class="name">Idlewild Circle</span>
				</div>
				<div class="stop">
					<div class="sequence">
						<span>D</span>
					</div>
					<span class="name">Palisades Shopping Center</span>
				</div>
				<div class="stop">
					<div class="sequence">
						<span>E</span>
					</div>
					<span class="name"> Oxmoor Rd & Barber Ct</span>
				</div>
			</div>
			<div class="day-divider">
				<span>MONDAY - FRIDAY</span>
			</div>
			<div class="times">
				<div class="row">
					<div class="am-pm">A.M.</div>
					<div class="time">5:45</div>
					<div class="time">6:04</div>
					<div class="time">6:15</div>
					<div class="time">6:28</div>
					<div class="time">6:35</div>
				</div>
				<div class="row">
					<div class="am-pm"></div>
					<div class="time">5:45</div>
					<div class="time">6:04</div>
					<div class="time">6:15</div>
					<div class="time">6:28</div>
					<div class="time">6:35</div>
				</div>
				<div class="row">
					<div class="am-pm"></div>
					<div class="time">5:45</div>
					<div class="time">6:04</div>
					<div class="time">6:15</div>
					<div class="time">6:28</div>
					<div class="time">6:35</div>
				</div>
				<div class="row">
					<div class="am-pm"></div>
					<div class="time">5:45</div>
					<div class="time">6:04</div>
					<div class="time">6:15</div>
					<div class="time">6:28</div>
					<div class="time">6:35</div>
				</div>
				<div class="row">
					<div class="am-pm"></div>
					<div class="time">5:45</div>
					<div class="time">6:04</div>
					<div class="time">6:15</div>
					<div class="time">6:28</div>
					<div class="time">6:35</div>
				</div>
				<div class="row">
					<div class="am-pm"></div>
					<div class="time">5:45</div>
					<div class="time">6:04</div>
					<div class="time">6:15</div>
					<div class="time">6:28</div>
					<div class="time">6:35</div>
				</div>
				<div class="row">
					<div class="am-pm"></div>
					<div class="time">5:45</div>
					<div class="time">6:04</div>
					<div class="time">6:15</div>
					<div class="time">6:28</div>
					<div class="time">6:35</div>
				</div>
				<div class="row">
					<div class="am-pm"></div>
					<div class="time">5:45</div>
					<div class="time">6:04</div>
					<div class="time">6:15</div>
					<div class="time">6:28</div>
					<div class="time">6:35</div>
				</div>
				<div class="row">
					<div class="am-pm"></div>
					<div class="time">5:45</div>
					<div class="time">6:04</div>
					<div class="time">6:15</div>
					<div class="time">6:28</div>
					<div class="time">6:35</div>
				</div>
				<div class="row">
					<div class="am-pm"></div>
					<div class="time">5:45</div>
					<div class="time">6:04</div>
					<div class="time">6:15</div>
					<div class="time">6:28</div>
					<div class="time">6:35</div>
				</div>
				<div class="row pm">
					<div class="am-pm">P.M.</div>
					<div class="time">5:45</div>
					<div class="time">6:04</div>
					<div class="time">6:15</div>
					<div class="time">6:28</div>
					<div class="time">6:35</div>
				</div>
				<div class="row pm">
					<div class="am-pm"></div>
					<div class="time">5:45</div>
					<div class="time">6:04</div>
					<div class="time">6:15</div>
					<div class="time">6:28</div>
					<div class="time">6:35</div>
				</div>
				<div class="row pm">
					<div class="am-pm"></div>
					<div class="time">5:45</div>
					<div class="time">6:04</div>
					<div class="time">6:15</div>
					<div class="time">6:28</div>
					<div class="time">6:35</div>
				</div>
				<div class="row pm">
					<div class="am-pm"></div>
					<div class="time">5:45</div>
					<div class="time">6:04</div>
					<div class="time">6:15</div>
					<div class="time">6:28</div>
					<div class="time">6:35</div>
				</div>
				<div class="row pm">
					<div class="am-pm"></div>
					<div class="time">5:45</div>
					<div class="time">6:04</div>
					<div class="time">6:15</div>
					<div class="time">6:28</div>
					<div class="time">6:35</div>
				</div>
				<div class="row pm">
					<div class="am-pm"></div>
					<div class="time">5:45</div>
					<div class="time">6:04</div>
					<div class="time">6:15</div>
					<div class="time">6:28</div>
					<div class="time">6:35</div>
				</div>
				<div class="row pm">
					<div class="am-pm"></div>
					<div class="time">5:45</div>
					<div class="time">6:04</div>
					<div class="time">6:15</div>
					<div class="time">6:28</div>
					<div class="time">6:35</div>
				</div>
				<div class="row pm">
					<div class="am-pm"></div>
					<div class="time">5:45</div>
					<div class="time">6:04</div>
					<div class="time">6:15</div>
					<div class="time">6:28</div>
					<div class="time">6:35</div>
				</div>
				<div class="row pm">
					<div class="am-pm"></div>
					<div class="time">5:45</div>
					<div class="time">6:04</div>
					<div class="time">6:15</div>
					<div class="time">6:28</div>
					<div class="time">6:35</div>
				</div>
				<div class="row pm">
					<div class="am-pm"></div>
					<div class="time">5:45</div>
					<div class="time">6:04</div>
					<div class="time">6:15</div>
					<div class="time">6:28</div>
					<div class="time">6:35</div>
				</div>
			</div>
			<div class="day-divider">
				<span>SATURDAY</span>
			</div>
			<div class="times">
				<div class="row">
					<div class="am-pm">A.M.</div>
					<div class="time">5:45</div>
					<div class="time">6:04</div>
					<div class="time">6:15</div>
					<div class="time">6:28</div>
					<div class="time">6:35</div>
				</div>
				<div class="row">
					<div class="am-pm"></div>
					<div class="time">5:45</div>
					<div class="time">6:04</div>
					<div class="time">6:15</div>
					<div class="time">6:28</div>
					<div class="time">6:35</div>
				</div>
				<div class="row">
					<div class="am-pm"></div>
					<div class="time">5:45</div>
					<div class="time">6:04</div>
					<div class="time">6:15</div>
					<div class="time">6:28</div>
					<div class="time">6:35</div>
				</div>
				<div class="row">
					<div class="am-pm"></div>
					<div class="time">5:45</div>
					<div class="time">6:04</div>
					<div class="time">6:15</div>
					<div class="time">6:28</div>
					<div class="time">6:35</div>
				</div>
				<div class="row">
					<div class="am-pm"></div>
					<div class="time">5:45</div>
					<div class="time">6:04</div>
					<div class="time">6:15</div>
					<div class="time">6:28</div>
					<div class="time">6:35</div>
				</div>
				<div class="row pm">
					<div class="am-pm">P.M.</div>
					<div class="time">5:45</div>
					<div class="time">6:04</div>
					<div class="time">6:15</div>
					<div class="time">6:28</div>
					<div class="time">6:35</div>
				</div>
				<div class="row pm">
					<div class="am-pm"></div>
					<div class="time">5:45</div>
					<div class="time">6:04</div>
					<div class="time">6:15</div>
					<div class="time">6:28</div>
					<div class="time">6:35</div>
				</div>
				<div class="row pm">
					<div class="am-pm"></div>
					<div class="time">5:45</div>
					<div class="time">6:04</div>
					<div class="time">6:15</div>
					<div class="time">6:28</div>
					<div class="time">6:35</div>
				</div>
				<div class="row pm">
					<div class="am-pm"></div>
					<div class="time">5:45</div>
					<div class="time">6:04</div>
					<div class="time">6:15</div>
					<div class="time">6:28</div>
					<div class="time">6:35</div>
				</div>
				<div class="row pm">
					<div class="am-pm"></div>
					<div class="time">5:45</div>
					<div class="time">6:04</div>
					<div class="time">6:15</div>
					<div class="time">6:28</div>
					<div class="time">6:35</div>
				</div>
			</div>
		</div>
		<div class="map">
			<img src="/static/img/route14.svg" style="width: 100%; height: 100%;">
		</div>
			<div class="route">
			<div class="header">
				<span class="name">14</span>
				<span class="description">From <em>Oxmoor Rd & Barber Ct</em> to <em>Central Station</em></span>
				
			</div>
			<div class="stops">
				<div class="stop">
					<div class="sequence">
						<span>E</span>
					</div>
					<span class="name"> Oxmoor Rd & Barber Ct</span>
				</div>
				<div class="stop">
					<div class="sequence">
						<span>D</span>
					</div>
					<span class="name">Palisades Shopping Center</span>
				</div>
				<div class="stop">
					<div class="sequence">
						<span>C</span>
					</div>
					<span class="name">Idlewild Circle</span>
				</div>
				<div class="stop">
					<div class="sequence">
						<span>B</span>
					</div>
					<span class="name">11th Ave S & 20th St S</span>
				</div>
				<div class="stop">
					<div class="sequence">
						<span>A</span>
					</div>
					<span class="name">Central Station</span>
				</div>
				
				
				
				
			</div>
			<div class="day-divider">
				<span>MONDAY - FRIDAY</span>
			</div>
			<div class="times">
				<div class="row">
					<div class="am-pm">A.M.</div>
					<div class="time">5:45</div>
					<div class="time">6:04</div>
					<div class="time">6:15</div>
					<div class="time">6:28</div>
					<div class="time">6:35</div>
				</div>
				<div class="row">
					<div class="am-pm"></div>
					<div class="time">5:45</div>
					<div class="time">6:04</div>
					<div class="time">6:15</div>
					<div class="time">6:28</div>
					<div class="time">6:35</div>
				</div>
				<div class="row">
					<div class="am-pm"></div>
					<div class="time">5:45</div>
					<div class="time">6:04</div>
					<div class="time">6:15</div>
					<div class="time">6:28</div>
					<div class="time">6:35</div>
				</div>
				<div class="row">
					<div class="am-pm"></div>
					<div class="time">5:45</div>
					<div class="time">6:04</div>
					<div class="time">6:15</div>
					<div class="time">6:28</div>
					<div class="time">6:35</div>
				</div>
				<div class="row">
					<div class="am-pm"></div>
					<div class="time">5:45</div>
					<div class="time">6:04</div>
					<div class="time">6:15</div>
					<div class="time">6:28</div>
					<div class="time">6:35</div>
				</div>
				<div class="row">
					<div class="am-pm"></div>
					<div class="time">5:45</div>
					<div class="time">6:04</div>
					<div class="time">6:15</div>
					<div class="time">6:28</div>
					<div class="time">6:35</div>
				</div>
				<div class="row">
					<div class="am-pm"></div>
					<div class="time">5:45</div>
					<div class="time">6:04</div>
					<div class="time">6:15</div>
					<div class="time">6:28</div>
					<div class="time">6:35</div>
				</div>
				<div class="row">
					<div class="am-pm"></div>
					<div class="time">5:45</div>
					<div class="time">6:04</div>
					<div class="time">6:15</div>
					<div class="time">6:28</div>
					<div class="time">6:35</div>
				</div>
				<div class="row">
					<div class="am-pm"></div>
					<div class="time">5:45</div>
					<div class="time">6:04</div>
					<div class="time">6:15</div>
					<div class="time">6:28</div>
					<div class="time">6:35</div>
				</div>
				<div class="row">
					<div class="am-pm"></div>
					<div class="time">5:45</div>
					<div class="time">6:04</div>
					<div class="time">6:15</div>
					<div class="time">6:28</div>
					<div class="time">6:35</div>
				</div>
				<div class="row pm">
					<div class="am-pm">P.M.</div>
					<div class="time">5:45</div>
					<div class="time">6:04</div>
					<div class="time">6:15</div>
					<div class="time">6:28</div>
					<div class="time">6:35</div>
				</div>
				<div class="row pm">
					<div class="am-pm"></div>
					<div class="time">5:45</div>
					<div class="time">6:04</div>
					<div class="time">6:15</div>
					<div class="time">6:28</div>
					<div class="time">6:35</div>
				</div>
				<div class="row pm">
					<div class="am-pm"></div>
					<div class="time">5:45</div>
					<div class="time">6:04</div>
					<div class="time">6:15</div>
					<div class="time">6:28</div>
					<div class="time">6:35</div>
				</div>
				<div class="row pm">
					<div class="am-pm"></div>
					<div class="time">5:45</div>
					<div class="time">6:04</div>
					<div class="time">6:15</div>
					<div class="time">6:28</div>
					<div class="time">6:35</div>
				</div>
				<div class="row pm">
					<div class="am-pm"></div>
					<div class="time">5:45</div>
					<div class="time">6:04</div>
					<div class="time">6:15</div>
					<div class="time">6:28</div>
					<div class="time">6:35</div>
				</div>
				<div class="row pm">
					<div class="am-pm"></div>
					<div class="time">5:45</div>
					<div class="time">6:04</div>
					<div class="time">6:15</div>
					<div class="time">6:28</div>
					<div class="time">6:35</div>
				</div>
				<div class="row pm">
					<div class="am-pm"></div>
					<div class="time">5:45</div>
					<div class="time">6:04</div>
					<div class="time">6:15</div>
					<div class="time">6:28</div>
					<div class="time">6:35</div>
				</div>
				<div class="row pm">
					<div class="am-pm"></div>
					<div class="time">5:45</div>
					<div class="time">6:04</div>
					<div class="time">6:15</div>
					<div class="time">6:28</div>
					<div class="time">6:35</div>
				</div>
				<div class="row pm">
					<div class="am-pm"></div>
					<div class="time">5:45</div>
					<div class="time">6:04</div>
					<div class="time">6:15</div>
					<div class="time">6:28</div>
					<div class="time">6:35</div>
				</div>
				<div class="row pm">
					<div class="am-pm"></div>
					<div class="time">5:45</div>
					<div class="time">6:04</div>
					<div class="time">6:15</div>
					<div class="time">6:28</div>
					<div class="time">6:35</div>
				</div>
			</div>
			<div class="day-divider">
				<span>SATURDAY</span>
			</div>
			<div class="times">
				<div class="row">
					<div class="am-pm">A.M.</div>
					<div class="time">5:45</div>
					<div class="time">6:04</div>
					<div class="time">6:15</div>
					<div class="time">6:28</div>
					<div class="time">6:35</div>
				</div>
				<div class="row">
					<div class="am-pm"></div>
					<div class="time">5:45</div>
					<div class="time">6:04</div>
					<div class="time">6:15</div>
					<div class="time">6:28</div>
					<div class="time">6:35</div>
				</div>
				<div class="row">
					<div class="am-pm"></div>
					<div class="time">5:45</div>
					<div class="time">6:04</div>
					<div class="time">6:15</div>
					<div class="time">6:28</div>
					<div class="time">6:35</div>
				</div>
				<div class="row">
					<div class="am-pm"></div>
					<div class="time">5:45</div>
					<div class="time">6:04</div>
					<div class="time">6:15</div>
					<div class="time">6:28</div>
					<div class="time">6:35</div>
				</div>
				<div class="row">
					<div class="am-pm"></div>
					<div class="time">5:45</div>
					<div class="time">6:04</div>
					<div class="time">6:15</div>
					<div class="time">6:28</div>
					<div class="time">6:35</div>
				</div>
				<div class="row pm">
					<div class="am-pm">P.M.</div>
					<div class="time">5:45</div>
					<div class="time">6:04</div>
					<div class="time">6:15</div>
					<div class="time">6:28</div>
					<div class="time">6:35</div>
				</div>
				<div class="row pm">
					<div class="am-pm"></div>
					<div class="time">5:45</div>
					<div class="time">6:04</div>
					<div class="time">6:15</div>
					<div class="time">6:28</div>
					<div class="time">6:35</div>
				</div>
				<div class="row pm">
					<div class="am-pm"></div>
					<div class="time">5:45</div>
					<div class="time">6:04</div>
					<div class="time">6:15</div>
					<div class="time">6:28</div>
					<div class="time">6:35</div>
				</div>
				<div class="row pm">
					<div class="am-pm"></div>
					<div class="time">5:45</div>
					<div class="time">6:04</div>
					<div class="time">6:15</div>
					<div class="time">6:28</div>
					<div class="time">6:35</div>
				</div>
				<div class="row pm">
					<div class="am-pm"></div>
					<div class="time">5:45</div>
					<div class="time">6:04</div>
					<div class="time">6:15</div>
					<div class="time">6:28</div>
					<div class="time">6:35</div>
				</div>
			</div>
		</div>
			</div>
	</body>
</html>