<p>Outbound</p>
<table>
	<tr>
		{{#each OUT_STOPS}}
				
		<td>{{NAME}}</td>
	
		{{/each}}
	</tr>
	
	{{#each OUT_TRIPS}}
	<tr>
		{{#each STOP_TIMES}}	
			<td>{{TIME}}</td>
		{{/each}}
	</tr>
	{{/each}}
</table>

<p>Inbound</p>
<table>
	<tr>
		{{#each IN_STOPS}}
				
		<td>{{NAME}}</td>
	
		{{/each}}
	</tr>
	
	{{#each IN_TRIPS}}
	<tr>
		{{#each STOP_TIMES}}	
			<td>{{TIME}}</td>
		{{/each}}
	</tr>
	{{/each}}
</table>


<script type='text/javascript'>
	(function(){
		
	})();
</script>