* {
  box-sizing: border-box; }

.route-1 {
  background-color: #1779B3;
  border-color: #1779B3; }

.route-40 {
  background-color: #C9B2D7;
  border-color: #C9B2D7; }

.route-9 {
  background-color: #FB989D;
  border-color: #FB989D; }

.sequence {
  display: inline-block;
  width: 100%;
  text-align: center;
  padding-bottom: 5px; }
  .sequence span {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 16px;
    color: #FFFFFF;
    line-height: 30px;
    text-align: center;
    font-weight: bold; }

.wrapper {
  width: 1400px;
  padding-top: 20px; }

.summary {
  width: 522px;
  margin-left: 100px;
  color: #000000;
  margin-bottom: 50px;
  display: inline-block;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-color: #000000; }
  .summary .number {
    display: inline-block;
    width: 100px;
    height: 80px;
    font-size: 64px;
    color: #FFFFFF;
    font-weight: bold;
    padding-top: 25px;
    vertical-align: top;
    text-align: center; }
  .summary > .name {
    font-weight: bold;
    display: inline-block;
    width: 420px;
    font-size: 42px;
    line-height: 35px;
    vertical-align: bottom;
    border-bottom-style: solid;
    border-bottom-width: 4px;
    padding: 0px 0px 5px 10px;
    color: #000000;
    background-color: white; }
  .summary .description {
    display: inline-block;
    width: 100%;
    padding: 15px 0px 0px 35px; }
    .summary .description span {
      display: inline-block;
      width: 100%;
      line-height: 10px;
      font-size: 16px;
      line-height: 0px;
      color: #000000; }
    .summary .description strong {
      color: #000000; }
  .summary .line-map {
    padding-left: 35px;
    padding-top: 10px; }
    .summary .line-map .stop {
      width: 400px;
      height: 60px;
      position: relative; }
      .summary .line-map .stop .line {
        position: absolute;
        top: 0px;
        left: 11px;
        width: 8px;
        height: 101%;
        z-index: 1; }
      .summary .line-map .stop .details {
        display: inline-block;
        width: 370px;
        padding-left: 10px;
        font-size: 16px; }
        .summary .line-map .stop .details .name {
          display: inline-block;
          width: 100%; }
        .summary .line-map .stop .details .route-number {
          display: inline-block;
          margin-right: 4px;
          font-size: 14px;
          line-height: 14px;
          padding: 3px 5px;
          color: #FFFFFF;
          font-weight: bold; }
      .summary .line-map .stop .sequence {
        width: 30px;
        vertical-align: top;
        position: relative;
        z-index: 2; }
    .summary .line-map .stop.last .line {
      display: none; }

.map {
  width: 674px;
  height: 800px;
  border: solid 1px #000000;
  display: inline-block;
  vertical-align: top;
  margin-left: 50px;
  line-height: 800px;
  text-align: center; }
  .map span {
    font-size: 32px;
    vertical-align: middle; }

.route {
  width: 630px;
  display: inline-block; }
  .route .header {
    border-bottom-style: solid;
    border-bottom-width: 4px;
    font-weight: bold;
    background-color: white; }
    .route .header .name {
      display: inline-block;
      width: 50px;
      height: 40px;
      padding-top: 10px;
      color: #FFFFFF;
      text-align: center;
      font-size: 32px; }
    .route .header .description {
      color: #000000;
      font-size: 22px;
      padding-left: 10px; }
  .route .stops {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 15px; }
    .route .stops .stop {
      vertical-align: top;
      width: 19.5%;
      display: inline-block;
      text-align: center;
      color: #000000;
      font-size: 16px; }
      .route .stops .stop .sequence {
        padding-bottom: 5px; }
  .route .day-divider {
    width: 100%;
    text-align: center;
    color: #FFFFFF;
    font-weight: bold;
    padding-top: 2px;
    height: 26px;
    font-size: 16px;
    border: solid 1px #000000; }
  .route .times {
    width: 100%; }
    .route .times .row {
      border-bottom: solid 1px grey;
      position: relative;
      line-height: 22px; }
      .route .times .row .am-pm {
        font-size: 16px;
        position: absolute;
        left: 5px;
        top: 0px; }
      .route .times .row .time {
        display: inline-block;
        text-align: center;
        width: 19.5%;
        font-size: 16px; }
    .route .times .row.pm {
      font-weight: bold; }
