
* {
	box-sizing: border-box;
}

//Type Sizes
$extraLarge: 32px;
$large: 22px;
$medium: 16px;
$small: 16px;

//Route Colors
$route-14: #F7B06A;
.wrapper {
	width: 1400px;
}
header {
	width: 1400px;
	color: #000000;
	margin-bottom: 50px;
	display: inline-block;
	
	background-color: rgba(247, 176, 106, .2);
	.number{
		background-color: $route-14;
		display:inline-block;
		width: 100px;
		height: 80px;
		font-size: 64px;
		color:#FFFFFF;
		font-weight:bold;
		padding-top: 25px;
		vertical-align: top;
		text-align: center;
	}
	.description{
		display:inline-block;
		width: 1000px;
		font-size: 42px;
		padding: 15px 0px 20px 10px;
		
		.name{
			font-weight: bold;
			width: 100%;
			line-height: 35px;
			color:#000000;
		}
		span {
			display: inline-block;
			width: 100%;
			line-height:10px;
			font-size: $medium;
			line-height: 0px;
			color:#000000;
		}
		strong {
			color: #000000;
		}
		
	}
	
}
.map {
	width: 700px;
	height: 800px;
	border: solid 1px #000000;
	display: inline-block;
	vertical-align: top;
	margin-left:50px;
	line-height: 800px;
	text-align:center;
	span{
		font-size: $extraLarge;
		vertical-align:middle;
	}
}
.route{
	width: 630px;
	display:inline-block;
	.header{
		
		border-bottom: solid 4px $route-14;
		font-weight: bold; 
		
		.name{
			display:inline-block;
			width: 50px;
			height: 40px;
			padding-top: 10px;
			padding-left: 5px;
			color: #FFFFFF;
			font-size:$extraLarge;
			background-color:$route-14;
		}
		.description{
			color: #000000;
			font-size: $large;
			padding-left: 10px;
		}
		
	}
	.stops{
		width: 100%;
		padding-top: 10px;
		padding-bottom: 15px;
		.stop{
			vertical-align: top;
			width: 19.5%;
			display:inline-block;
			text-align: center;
			color:#000000;
			font-size: $small;
			.sequence{
				display:inline-block;
				width: 100%;
				text-align:center;
				padding-bottom: 5px;
				
			}
			.sequence span {
				display:inline-block;
				width:30px;
				height:30px;
				border-radius:50%;
				font-size:$medium;
				color:#FFFFFF;
				line-height:30px;
				text-align:center;
				background-color: $route-14;
				font-weight: bold;
			}
		}
	}
	.day-divider{
		width: 100%;
		background-color: $route-14;
		text-align: center;
		color: #FFFFFF;
		font-weight: bold;
		height: 26px;
		font-size: $small;
		border: solid 1px #000000;
	}
	.times{
		width: 100%;
		.row{
			border-bottom: solid 1px grey;
			position:relative;
			line-height: 22px;
			.am-pm{
				font-size: $small;
				position: absolute;
				left: 5px;
				top:0px;
			}
			.time{
				display:inline-block;
				text-align: center;
				width: 19.5%;
				font-size: $small;
			}
		}
		.row.pm{
			font-weight: bold;
		}
	}

}