* {
  box-sizing: border-box; }

body {
  padding: 0px;
  margin: 0px; }

.route-1 {
  background-color: #1779B3;
  border-color: #1779B3; }

.route-40 {
  background-color: #C9B2D7;
  border-color: #C9B2D7; }

.route-9 {
  background-color: #FB989D;
  border-color: #FB989D; }

.sequence {
  display: inline-block;
  width: 100%;
  text-align: center;
  padding-bottom: 5px; }
  .sequence span {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 16px;
    color: #FFFFFF;
    line-height: 30px;
    text-align: center;
    font-weight: bold; }

.wrapper {
  width: 1400px; }
  .wrapper .print-cell {
    padding: 7px;
    width: 350px;
    vertical-align: top; }
  .wrapper .print-cell.two {
    width: 700px; }

.summary {
  display: inline-block; }
  .summary > div {
    color: #000000;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: #000000; }
    .summary > div .number {
      display: inline-block;
      width: 100px;
      height: 80px;
      font-size: 64px;
      color: #FFFFFF;
      font-weight: bold;
      padding-top: 25px;
      vertical-align: top;
      text-align: center; }
    .summary > div > .name {
      font-weight: bold;
      width: 228px;
      display: inline-block;
      font-size: 39px;
      height: 80px;
      line-height: 35px;
      vertical-align: top;
      border-bottom-style: solid;
      border-bottom-width: 4px;
      padding: 5px 0px 5px 10px;
      color: #000000;
      background-color: white; }
    .summary > div .description {
      display: inline-block;
      width: 100%;
      padding: 15px 0px 0px 35px; }
      .summary > div .description span {
        display: inline-block;
        width: 100%;
        font-size: 16px;
        padding-bottom: 10px;
        color: #000000; }
      .summary > div .description strong {
        color: #000000; }
    .summary > div .line-map {
      padding-left: 35px;
      padding-top: 10px; }
      .summary > div .line-map .stop {
        width: 400px;
        height: 60px;
        position: relative; }
        .summary > div .line-map .stop .line {
          position: absolute;
          top: 0px;
          left: 11px;
          width: 8px;
          height: 101%;
          z-index: 1; }
        .summary > div .line-map .stop .details {
          display: inline-block;
          width: 370px;
          padding-left: 10px;
          font-size: 14px; }
          .summary > div .line-map .stop .details .name {
            display: inline-block;
            width: 100%; }
          .summary > div .line-map .stop .details .route-number {
            display: inline-block;
            margin-right: 4px;
            font-size: 12px;
            line-height: 12px;
            padding: 3px 5px;
            color: #FFFFFF;
            font-weight: bold; }
        .summary > div .line-map .stop .sequence {
          width: 30px;
          vertical-align: top;
          position: relative;
          z-index: 2; }
      .summary > div .line-map .stop.last .line {
        display: none; }

.map {
  height: 800px;
  display: inline-block;
  vertical-align: top; }
  .map div {
    border: solid 1px #000000; }
    .map div span {
      font-size: 32px;
      vertical-align: middle; }

.route {
  display: inline-block; }
  .route .header {
    border-bottom-style: solid;
    border-bottom-width: 4px;
    font-weight: bold;
    background-color: white; }
    .route .header .name {
      display: inline-block;
      width: 50px;
      height: 27px;
      padding-top: 4px;
      position: relative;
      top: 5px;
      color: #FFFFFF;
      text-align: center;
      font-size: 32px; }
    .route .header .description {
      color: #000000;
      font-size: 22px;
      padding-left: 10px; }
  .route .stops {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 0px; }
    .route .stops .stop {
      vertical-align: top;
      display: inline-block;
      text-align: center;
      padding: 0px 5px; }
      .route .stops .stop .sequence {
        padding-bottom: 2px; }
      .route .stops .stop .name {
        color: #000000;
        font-size: 14px;
        line-height: 18px;
        height: 35px;
        overflow: hidden;
        display: inline-block; }
  .route .day-divider {
    width: 100%;
    text-align: center;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    border: solid 1px #000000; }
  .route .times {
    width: 100%; }
    .route .times .row {
      border-bottom: solid 1px grey;
      position: relative;
      line-height: 20px; }
      .route .times .row .am-pm {
        font-size: 14px;
        position: absolute;
        left: 5px;
        top: 0px; }
      .route .times .row .time {
        display: inline-block;
        text-align: center;
        font-size: 14px; }
    .route .times .row.pm {
      font-weight: bold; }
