body {
  padding-top: 20px; }

* {
  box-sizing: border-box; }

.route {
  width: 800px; }
  .route .header {
    border-bottom: solid 4px #f7b06a;
    font-weight: bold; }
    .route .header .name {
      display: inline-block;
      width: 50px;
      height: 40px;
      padding-top: 10px;
      padding-left: 5px;
      color: #FFFFFF;
      font-size: 32px;
      background-color: #f7b06a; }
    .route .header .description {
      color: #000000;
      font-size: 22px;
      padding-left: 10px; }
