
* {
	box-sizing: border-box;
}

body {
	padding:0px;
	margin: 0px;
}

//Type Sizes
$super : 64px;
$extraLarge: 32px;
$large: 22px;
$medium: 16px;
$small: 16px;
$ex-small: 14px;

//Route Colors
.route-1 { 
	background-color: #1779B3;
	border-color:#1779B3;
}
.route-40 { 
	background-color: #C9B2D7;
	border-color:#C9B2D7;
}
.route-9 { 
	background-color: #FB989D;
	border-color:#FB989D;
}




//Reusable
.sequence{
	display:inline-block;
	width: 100%;
	text-align:center;
	padding-bottom: 5px;
	span {
		display:inline-block;
		width:30px;
		height:30px;
		border-radius:50%;
		font-size:$medium;
		color:#FFFFFF;
		line-height:30px;
		text-align:center;
		font-weight: bold;
	}
}



.wrapper {
	width: 1400px;
	.print-cell {
		padding: 10px;
		width: 350px;
		vertical-align: top;
	}
	.print-cell.two {
		width: 700px;
	}
}

.summary {
	display: inline-block;
	> div {
		color: #000000;
		background-color:white;
		border-style: solid;
		border-width: 1px;
		border-color: #000000;
	.number{
		display:inline-block;
		width: 100px;
		height: 80px;
		font-size: $super;
		color:#FFFFFF;
		font-weight:bold;
		padding-top: 25px;
		vertical-align: top;
		text-align: center;
	}
	> .name{
			font-weight: bold;
			width: 228px;
			display: inline-block;
			font-size: 39px;
			height: 80px;
			line-height: 35px;
			vertical-align: top;
			border-bottom-style:solid;
			border-bottom-width: 4px;
			padding:5px 0px 5px 10px;
			color:#000000;
			background-color:white;
		}
	.description{
		display:inline-block;
		width: 100%;
		padding: 15px 0px 0px 35px;
		span {
			display: inline-block;
			width: 100%;
			font-size: $medium;
			padding-bottom: 10px;
			color:#000000;
		}
		strong {
			color: #000000;
		}
		
	}
	.line-map{
		padding-left: 35px;
		padding-top: 10px;
		.stop{
			width: 400px;
			height: 60px;
			position:relative;
			.line{
				position: absolute;
				top:0px;
				left:11px;
				width: 8px;
				height: 101%;
				z-index: 1;
				
			}
			.details {
				display:inline-block;
				width: 370px;
				padding-left: 10px;
				font-size: $small;
				.name{
					display:inline-block;
					width: 100%;
				}
				.route-number{
					display: inline-block;
					margin-right: 4px;
					font-size: $ex-small;
					line-height: $ex-small;
					padding:3px 5px;
					color: #FFFFFF;
					font-weight: bold;
				}
			}
			.sequence{
				width: 30px;
				vertical-align: top;
				position:relative;
				z-index: 2;
			}
		}
		.stop.last .line {
			display: none;
		}
	}
	}
	
}
.map {
	height: 800px;
	display: inline-block;
	vertical-align: top;
	div{
		border: solid 1px #000000;
		span{
			font-size: $extraLarge;
			vertical-align:middle;
			
		}
	}
	
}
.route{
	
	
	display:inline-block;
	.header{
		
		border-bottom-style: solid;
		border-bottom-width:4px;
		font-weight: bold; 
		background-color:white;
		.name{
			display:inline-block;
			
			width: 50px;
			height: 40px;
			padding-top: 10px;
			//padding-left: 5px;
			color: #FFFFFF;
			text-align: center;
			font-size:$extraLarge;
		}
		.description{
			color: #000000;
			font-size: $large;
			padding-left: 10px;
		}
		
	}
	.stops{
		width: 100%;
		padding-top: 10px;
		padding-bottom: 15px;
		.stop{
			vertical-align: top;
			display:inline-block;
			text-align: center;
			color:#000000;
			font-size: $small;
			padding: 0px 5px;
			.sequence{
				padding-bottom: 5px;	
			}
		}
	}
	.day-divider{
		width: 100%;
		text-align: center;
		color: #FFFFFF;
		font-weight: bold;
		padding-top: 2px;
		height: 26px;
		font-size: $small;
		border: solid 1px #000000;
		span{
			
		}
	}
	.times{
		width: 100%;
		.row{
			border-bottom: solid 1px grey;
			position:relative;
			line-height: 22px;
			.am-pm{
				font-size: $small;
				position: absolute;
				left: 5px;
				top:0px;
			}
			.time{
				display:inline-block;
				text-align: center;
				font-size: $small;
			}
		}
		.row.pm{
			font-weight: bold;
		}
	}

}